<h2>My Bulk Discounts</h2>

<ol>
  <% @merchant.bulk_discounts.each do |discount| %>
    <li id="discount_<%= "#{discount.id}" %>">
      <%= link_to "Discount ##{discount.id}:", merchant_bulk_discount_path(@merchant, discount.id) %>
      <%= discount.discount %>% off <%= discount.threshold %> items or more
      <%= link_to "Delete", merchant_bulk_discount_path(@merchant, discount.id), method: :delete %>
     </li>
  <% end %>
</ol>

<%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %>

<section id="upcoming_holidays">
  <h4>Upcoming Holidays</h4>
  <% @holidays.first(3).each do |holiday| %>
    <p><%= holiday.name %>: <%= holiday.date %></p>
  <% end %>
</section>
