<h2>Create Bulk Discount</h2>

<%= form_with model: [:merchant, @bulk_discount], local: true, id: "new_bulk_discount" do |f| %>
  <%= f.label :discount, "Percent Discount" %>
  <%= f.number_field :discount, in: 1..100 %><br>

  <%= f.label :threshold, "Item Threshold" %>
  <%= f.number_field :threshold %>

  <%= f.hidden_field :merchant_id, value: @merchant.id %>

  <%= f.submit 'Create' %>
<% end %>
