<h1> Merchant Invoices Show Page </h1>

<p>Invoice ID: <%= @invoice.id %></p>
<p>Invoice Status: <%= @invoice.status %></p>
<p>Invoice Date: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Invoice Customer Name: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %></p>

<table>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Discounted Unit Price</th>
    <th>Status</th>
    <th>Discounts</th>
  </tr>

  <% @invoice.invoice_items.each do |invoice_item| %>
    <tr>
      <td id="name_<%= "#{invoice_item.id}"%>"><%= invoice_item.item.name %></td>
      <td id="quantity_<%= "#{invoice_item.id}"%>"><%= invoice_item.quantity %></td>
      <td id="price1_<%= "#{invoice_item.id}"%>">$<%= '%.2f'% ((invoice_item.item.unit_price.to_f) / 100) %></td>
      <td id="price_<%= "#{invoice_item.id}"%>">$<%= '%.2f'% ((invoice_item.unit_price.to_f) / 100) %></td>
      <td><%= invoice_item.status %>
        <div id="status_<%= "#{invoice_item.item.id}" %>">
          <%= form_with url: merchant_invoice_path(@merchant, @invoice), method: :patch do |form| %>
          <%= form.select :status, ["pending", "packaged", "shipped"], selected: "#{invoice_item.status}" %>
          <%= form.hidden_field :item_id, value: invoice_item.item_id %>
          <%= form.hidden_field :invoice_item_id, value: invoice_item.id %>
          <%= form.submit "Update Item Status" %>
          <% end %>
        </div>
      </td>
      <td id="discount_<%= "#{invoice_item.id}"%>">
        <% if invoice_item.item.unit_price != invoice_item.unit_price %>
          <%= link_to "Discount Details", "/merchants/#{@merchant.id}/bulk_discounts/#{invoice_item.bulk_discount_id}" %>
        <% else %>
          No discounts applied
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p>Total Revenue: $<%= '%.2f'% ((@invoice.total_revenue.to_f) / 100) %></p>
<p>Total Discounted Revenue: $<%= '%.2f'% ((@invoice.total_discounted_revenue.to_f) / 100) %></p>
